

          <!-- Page Heading -->
         <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>-->

          <!-- Content Row -->
          <div class="row">
            
            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">PetCare</h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <%= image_tag "shutterstock_234936910.jpg", class:"img-fluid px-3 px-sm-3 mt-3 mb-4", style:"width: 35rem;" %>
                  </div>
                </div>
  
              </div>
            </div>
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">
              <!-- Color System -->
              
              <div class="row">
                
                <div class="col-lg-12 mb-10">
                  <div class="card bg-primary text-white shadow mb-4">
                    <div class="card-body py-100", style="padding:50px;">
                      <a href="/hospitals/list">
                      <h6 class="m-0 font-weight-bold text-white-50 lg ">병원검색</h6>
                      </a>
                      <!--<br>&nbsp;-->
                      <!--<br>&nbsp;-->
                      </div>
                    </div>
                  </div>
                <!--</div>-->
                
                <div class="col-lg-12 mb-10">
                  <div class="card bg-success text-white shadow mb-4">
                    <div class="card-body py-100", style="padding:50px;">
                      <a href="/diseases/list">
                      <h6 class="m-0 font-weight-bold text-white-50">질병검색</h6>
                      </a>
                      <!--<br>&nbsp;-->
                      <!--<br>&nbsp;-->
                      </div>
                    </div>
                  </div>
                
                <div class="col-lg-12 mb-10">
                  <div class="card bg-info text-white shadow mb-4">
                    <div class="card-body py-100", style="padding:50px;">
                      <h6 class="m-0 font-weight-bold text-white-50">
                        <%= link_to "반려동물관리", pets_path, class:"collapse-item" %>
                      </h6>
                      </a>
                      <!--<br>&nbsp;-->
                      <!--<br>&nbsp;-->
                      </div>
                    </div>
                  </div>
                  
                <div class="col-lg-12 mb-10">
                  <div class="card bg-warning text-white shadow mb-4">
                    <div class="card-body py-100", style="padding:50px;">
                      <h6 class="m-0 font-weight-bold text-white-50">
                         <%= link_to "즐겨찾는병원", like_hospitals_list_path, class:"collapse-item" %>
                      </h6>
                      </a>
                      <!--<br>&nbsp;-->
                      <!--<br>&nbsp;-->
                      </div>
                    </div>
                  </div>
                <!--<div class="col-lg-6 mb-4">-->
                <!--  <div class="card bg-danger text-white shadow">-->
                <!--    <div class="card-body">-->
                <!--      Danger-->
                <!--      <div class="text-white-50 small">#e74a3b</div>-->
                <!--    </div>-->
                <!--  </div>-->
                <!--</div>-->
                <!--<div class="col-lg-6 mb-4">-->
                <!--  <div class="card bg-secondary text-white shadow">-->
                <!--    <div class="card-body">-->
                <!--      <%= link_to "반려동물 관리", pets_path, target: "_blank"%>-->
                <!--      <div class="text-white-50 small">#반려동물 관리</div>-->
                <!--    </div>-->
                <!--  </div>-->
                <!--</div>-->
              </div>
              
            </div>